# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
# And the metals extension, grr
.metals

# macos

*.DS_Store

# fabric

run/

# By default, ignore json files ()
*.json
!*.base.json
